@import "style";

.editor-styles-wrapper {

	.mrw-accordion__heading {
		margin: 0 !important;
	}

	.mrw-accordion__content {
		display: block !important;
		padding: 1em;

		> div > div > :first-child {
			margin-top: 0;
		}
		> div > div > :last-child {
			margin-bottom: 0;
		}
	}

}
