@use "sass:meta";

.editor-styles-wrapper {
	@include meta.load-css( "style" );
	@include meta.load-css( "accordion-icons-options" );

	/* Should match front-end styles for .mrw-accordion__button */
	.mrw-accordion__heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1em;
	}
	
	.mrw-accordion__editor-button {
		all: unset;
		display: inline-block;
		cursor: pointer;
		transition: transform .125s linear;

		&:hover {
			outline: 1px solid currentColor;
		}
		
		&:focus:not(:hover) {
			outline: 3px solid currentColor;
		}
		
		&:focus:not(:focus-visible,:hover) {
			outline: none;
		}
	}

	.mrw-accordion__icon--caret[aria-expanded="true"] {
		transform: scaleY(-1);
	}

	.mrw-accordion__icon--plusminus[aria-expanded="true"] line:last-child {
		transform: rotate(90deg);
	}

	.mrw-accordion__content {
		.block-editor-block-list__layout > :first-child {
			margin-top: 0;
		}
		.block-editor-block-list__layout > :last-child {
			margin-bottom: 0;
		}
	}

	/* ":last-child" becomes 2nd-to-last due to block inserter */
	.mrw-accordion.has-child-selected .block-editor-block-list__layout > :nth-last-child(2) {
		margin-bottom: 0;
	}

}
