/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.mrw-accordion {
	--mrw-plus-white: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23fff"><path d="M18 11.2h-5.2V6h-1.6v5.2H6v1.6h5.2V18h1.6v-5.2H18z"/></svg>');
	--mrw-plus-black: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18 11.2h-5.2V6h-1.6v5.2H6v1.6h5.2V18h1.6v-5.2H18z"/></svg>');
	--mrw-minus-white: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" fill="%23fff"><path d="M4 9h12v2H4V9z" /></svg>');
	--mrw-minus-black: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" fill="%23000"><path d="M4 9h12v2H4V9z" /></svg>');

	border: 1px solid #ddd;

	&.is-open {

	}
}

.mrw-accordion .mrw-accordion__heading {
	margin: 0 !important;
	padding: .25em .5em;
	background-color: #ddd;
}
.mrw-accordion--has-js .mrw-accordion__heading {
	padding: 0 !important;
}

/* Using Longer Selector to Increase Specificity of all: unset */
.mrw-accordion button.mrw-accordion__button {
	/* Don't show button styles at all */
	all: unset;

	box-sizing: border-box;
	display: flex;
	width: 100%;
	padding: .25em .5em;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;

	/* This prevents strong/em, etc. from flexing */
	> * {
		display: contents;
	}

	&::after {
		display: inline-block;
		flex: 0 0 auto;
		content: '';
		width: 1em;
		height: 1em;
		margin-left: 1em;
		background: center / contain no-repeat;
		background-image: var(--mrw-plus-white);
		border-radius: 50%;
		background-color: #000;
	}

	&[aria-expanded="true"]::after {
		background-image: var(--mrw-minus-white);
	}
}

.mrw-accordion.is-style-white-button button.mrw-accordion__button {
	&::after {
		background-color: #fff;
		background-image: var(--mrw-plus-black) !important;
	}

	&[aria-expanded="true"]::after {
		background-image: var(--mrw-minus-black) !important;
	}
}

.mrw-accordion .mrw-accordion__content {
	/* Display Logic */
	&[aria-hidden="true"] {
		display: none;
	}

	/* Styles */
	padding: 1rem;

	> :first-child {
		margin-top: 0;
	}
	> :last-child {
		margin-bottom: 0;
	}
}
